* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', 'Arial', 'Serif'; 
}

div {
    border: 1px solid red;
    /* margin: 10px;
    padding: 10px; */
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* CLASSES */

.margin1 {
    margin: 20px;
}

.float-right {
    float: right;
}

ul.no-bullets {
    list-style-type: none;
}

ul.inline-elements li {
    display: inline;
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .mobile {
        display: none;
    }
}

/* WRAPPER */

#wrapper {
    border: 1px solid black;
    margin: 20px;
}

/* HEADER */

#header {
    padding: 10px;
    border: 1px solid black;
}

ul#header-ul-desktop li {
    /* border: 1px solid red; */
    margin: 0 5px 0 5px;
}

div#menu-mobile {
    display: none;
    box-sizing:border-box; /* prevent overflow */
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: yellow;
    padding-top:100px;
    text-align: center;
    line-height: 35px;
}