<nav>
  <div id="header" class="margin1">

    <ul class="no-bullets inline-elements" id="header-ul-desktop">
        <li id="jeremylindsay"><a href="index.html"><b>JEREMY LINDSAY</b></a></li>
        
        <span class="desktop">

            <!-- left -->
            <li>::</li>
            <li><a href="books.html">Books</a></li>
            <li>::</li>
            <li><a href="contact.html">Contact</a></li>

            <!-- right: desktop -->
            <span id="social" class="float-right">
                <li><a href="https://www.instagram.com/jereremylindsay/" target="_blank" ><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC9QSUvSpxN0uU3-U0LlKvCw" target="_blank" ><i class="fab fa-youtube"></i></a></li>
                <li><a href="https://jeremylindsay.bandcamp.com/" target="_blank" ><i class="fab fa-bandcamp"></i></a></li>
            </span>

        </span>
        
        <!-- right: mobile -->
        <span class="mobile float-right">
            <li><i class="fa fa-bars" id="show-menu-mobile"></i></li>
        </span>
        
    </ul>
    
    <!-- mobile menu -->
    <div id="menu-mobile" class="mobile">
        <ul class="no-bullets" id="menu-ul-mobile">
            <li><i class="fa fa-times" id="hide-menu-mobile"></i></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="books.html">Books</a></li>
        </ul>
    </div>

  </div>
</nav>

<!-- JQUERY -->

<script>
  $(document).ready(function(){

      $("#show-menu-mobile").click(function(){
          $("div#menu-mobile").show();
      });
      
      $("#hide-menu-mobile").click(function(){
          $("div#menu-mobile").hide();
      });            

  });
</script>

<!-- END JQUERY -->