* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', 'Arial', 'Serif'; 
}

div {
    /* border: 1px solid red; */
}

body {
    background: #2E1529;
    color: lightgrey;
}

/* CLASSES */

.centered {
    text-align: center;
}

.float-right {
    float: right;
}

ul.no-bullets {
    list-style-type: none;
}

ul.inline-elements li {
    display: inline;
}

.hover-invert:hover {
    filter: invert(100%);
}

.music-box-link {
    display: block;
    color: lightgrey;
    border: 1px solid lightgrey;
    width: 150px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
}

.music-box-link:hover {
    color: #2E1529;
    background-color: lightgrey;
}

/* mobile */
@media only screen and (max-width: 768px) {
    .music-box {
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        vertical-align: top;
        border: 1px solid lightgrey;
    }

    .cover-art {
        margin: auto;
        width: 100%;
        display: block; /* fixes silly bug with mystery img bottom margins */
        max-width: 500px;
    }

    .music-box-text {
        width: 100%;
        max-width: 500px;
        margin: auto;
        padding: 20px;
        box-sizing: border-box; /* prevent overflow */
    }
}

/* desktop */
@media only screen and (min-width: 769px) {
    .music-box {
        display: flex;
        margin-bottom: 20px;
    }

    .cover-art {
        width: 50%;
        max-width: 500px;
    }

    .music-box-text {
        width: 100%;
        padding: 0 20px 0 20px;
        box-sizing: border-box; /* prevent overflow */
    }
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .mobile {
        display: none;
    }
}

/* WRAPPERS */

@media only screen and (max-width: 768px) {
    #inner {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        box-sizing: border-box; /* prevent overflow */
    }
}

@media only screen and (min-width: 769px) {
    #inner {
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
        background-color: #2E1529;
    }
}

/* HEADER */

#header {
    margin: auto;
    width: 90%;
    padding: 10px;
    border: 1px solid lightgrey;
    font-size: 1.25em;
}

div#header ul li a {
    color: lightgrey;
    text-decoration: none;
}

div#header ul li a:hover {
    color: darkgrey;
}

ul#header-ul-desktop li {
    margin: 0 5px 0 5px;
}

div#menu-mobile {
    display: none;
    box-sizing: border-box; /* prevent overflow */
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #2E1529;
    padding-top:100px;
    text-align: center;
    line-height: 35px;
}